.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  padding: 1em;
  color: white;
  margin-bottom: 1em;
  align-self: center;
}

.App-title {
  font-size: 1.5em;
  text-align: center;
}

.App {
    /* Use flexbox for a quick grid */
    text-align: center;
    display: flex;
    flex-wrap: wrap;
}

img {
    /* Make images all the same height, so everything's aligned */
    height: 300px;
    border: 1px solid black;
    border-radius: 30px;
    margin: 10px;
}

button {
    display: block;  /* on a new line */
    margin: 0 auto;  /* center */
    padding: 5px 10px;
    margin-top: 10px;
    font-size: 16px;
}